# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Testing / coverage
.coverage
coverage.*
.cache/
.pytest_cache/
htmlcov/

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS cruft
.DS_Store
Thumbs.db
